<div class="container p-3">
  <nav class="">
    <%= link_to teams_path, class: 'nav-a' do %>
      <p><i class="fas fa-home"></i></p>
    <% end %>
    <%= link_to team_path(@team), class: 'nav-a' do %>
      <p><i class="fas fa-user-friends"></i></p>
    <% end %>
    <%# <a class="navbar-brand" href="#">Navbar</a> %>
  </nav>
  <h1>Add a player</h1>
  <%= form_tag new_team_signing_path, method: :get, class: 'search-form p-4 mt-3' do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control search-bar",
    placeholder: "Find a player"
  %>
    <%= submit_tag "Search", class: "search-btn" %>
  <% end %>
  <div class=" form container card p-4 bg-dark mt-2">
    <%# <h1>Spawn a Monster</h1> %>
    <%= simple_form_for [@team, @signing] do |f| %>
      <%= f.association :player, collection: @players, as: :radio_buttons, checked: @players[0], collection_wrapper_tag: 'div',
        collection_wrapper_class: 'category-wrapper',
        item_wrapper_class: 'category-item',
        input_html: {class: 'category-selector'}, class: 'new-place-input', label: "Player (Search to see more players)" %>
      <%= f.input :position, collection: @positions, as: :radio_buttons, collection_wrapper_tag: 'div',
        collection_wrapper_class: 'category-wrapper',
        item_wrapper_class: 'category-item',
        input_html: {class: 'category-selector'}, class: 'new-place-input', checked: 'Goalkeeper' %>
      <%# <%= f.input :image_url %>
      <%= f.submit 'Add', class: 'add-btn' %>
    <% end %>
  </div>
</div>
